.about-us
	.wrapper
		.content-block__header-fir What we do
		.content-block__header-sec story about us
		.content-block__description
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		.about-us__pictures
			.about-us__picture-container.about-feature
				.about-feature__self-container
					img.about-feature__picture(src="../../img/about-us1.png")
					span.about-feature__text-block
						svg.about-feature__svg
							use(xlink:href="#users")
						span.about-feature__text
							|super team

			.about-us__picture-container.about-feature
				.about-feature__self-container
					img.about-feature__picture(src="../../img/about-us2.png")
					span.about-feature__text-block
						svg.about-feature__svg
							use(xlink:href="#users")
						span.about-feature__text
							|super team

			.about-us__picture-container.about-feature
				.about-feature__self-container
					img.about-feature__picture(src="../../img/about-us3.png")
					span.about-feature__text-block
						svg.about-feature__svg
							use(xlink:href="#users")
						span.about-feature__text
							|super team

.control-numbers
	.wrapper
			.control-numbers__item
				.control-numbers__text-block
					.control-numbers__number 42
					.control-numbers__text Web Design Projects
			.control-numbers__item
				.control-numbers__text-block
					.control-numbers__number 123
					.control-numbers__text happy client
			.control-numbers__item
				.control-numbers__text-block
					.control-numbers__number 15
					.control-numbers__text award winner
			.control-numbers__item
				.control-numbers__text-block
					.control-numbers__number 99
					.control-numbers__text cup of coffee
			.control-numbers__item
				.control-numbers__text-block
					.control-numbers__number 24
					.control-numbers__text members




.services
	.wrapper
		.content-block__header-fir We work with
		.content-block__header-sec Amazing Services
		.services__list

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#alarm")
					.services__text
						.services__header Photography
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#line-graph")
					.services__text
						.services__header Web Design
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#computer---ok")
					.services__text
						.services__header Creativity
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#book-2")
					.services__text
						.services__header seo
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#home")
					.services__text
						.services__header Css/Html
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#image")
					.services__text
						.services__header digital
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.




.design-block
	.wrapper
		.content-block__header-fir For all devices
		.content-block__header-sec Unique design


.service-what
	.wrapper
		.content-block__header-fir Service
		.content-block__header-sec what we do
		.content-block__description.service-what__desc
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		.service-what__image
			img(src="../../img/service.png")

		.service-menu.service-what__menu
			.service-menu__item
				.service-menu__label
					svg.service-menu__svg
						use(xlink:href="#picture")
					.service-menu__header Photography
					svg.service-menu__arrow
						use(xlink:href="#arrow")
				.service-menu__hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			.service-menu__item
				.service-menu__label
					svg.service-menu__svg
						use(xlink:href="#equalizer")
					.service-menu__header creativity
					svg.service-menu__arrow
						use(xlink:href="#arrow")
				.service-menu__hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			.service-menu__item
				.service-menu__label
					svg.service-menu__svg
						use(xlink:href="#bullseye")
					.service-menu__header web design
					svg.service-menu__arrow
						use(xlink:href="#arrow")
				.service-menu__hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.




.slider-container
	.wrapper
		.slider.slider__first
			.slider__item.owl-item
				.slider__image.slider__image_border
					svg
						use(xlink:href="#speech")
				.slider__text-block
					.slider__text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
					.slider__author Jon Doe
			.slider__item.owl-item
				.slider__image.slider__image_border
					svg
						use(xlink:href="#picture")
				.slider__text-block
					.slider__text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
					.slider__author Jon Doe
			





.team-block
	.wrapper
		.content-block__header-fir Who we are
		.content-block__header-sec Meet our team
		.content-block__description
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

		.team-block__pics
			.team-block__picture-container
				.team-block__picture
					.team-block__picture-background
						img(src="../../img/team1.png")
					.team-block__networks
						a(href="#").team-block__facebook.team-block__networks-item
							svg
								use(xlink:href="#facebook").team-block__use
						a(href="#").team-block__twitter.team-block__networks-item
							svg
								use(xlink:href="#twitter").team-block__use
						a(href="#").team-block__pinterest.team-block__networks-item
							svg
								use(xlink:href="#pinterest").team-block__use
						a(href="#").team-block__pinterest.team-block__networks-item
							svg
								use(xlink:href="#instagram").team-block__use

				.team-block__picture-desc
					.team-block__picture-desc-name Matthew Dix
					.team-block__picture-desc-post Graphic Design
			.team-block__picture-container
				.team-block__picture
					.team-block__picture-background
						img(src="../../img/team2.png")
					.team-block__networks
						a(href="#").team-block__facebook.team-block__networks-item
							svg
								use(xlink:href="#facebook").team-block__use
						a(href="#").team-block__twitter.team-block__networks-item
							svg
								use(xlink:href="#twitter").team-block__use
						a(href="#").team-block__pinterest.team-block__networks-item
							svg
								use(xlink:href="#pinterest").team-block__use
						a(href="#").team-block__pinterest.team-block__networks-item
							svg
								use(xlink:href="#instagram").team-block__use

				.team-block__picture-desc
					.team-block__picture-desc-name Christopher Campbell
					.team-block__picture-desc-post Branding/UX design
			.team-block__picture-container
				.team-block__picture
					.team-block__picture-background
						img(src="../../img/team3.png")
					.team-block__networks
						a(href="#").team-block__facebook.team-block__networks-item
							svg
								use(xlink:href="#facebook").team-block__use
						a(href="#").team-block__twitter.team-block__networks-item
							svg
								use(xlink:href="#twitter").team-block__use
						a(href="#").team-block__pinterest.team-block__networks-item
							svg
								use(xlink:href="#pinterest").team-block__use
						a(href="#").team-block__pinterest.team-block__networks-item
							svg
								use(xlink:href="#instagram").team-block__use

				.team-block__picture-desc
					.team-block__picture-desc-name Michael Fertig 
					.team-block__picture-desc-post Michael Fertig 

		
.logos-block
	.wrapper
		a(href="#").logos-block__img
			img(src="../../img/hipster1.png")
		a(href="#").logos-block__img
			img(src="../../img/hipster2.png")
		a(href="#").logos-block__img
			img(src="../../img/hipster3.png")
		a(href="#").logos-block__img
			img(src="../../img/hipster4.png")
		a(href="#").logos-block__img
			img(src="../../img/hipster5.png")
		a(href="#").logos-block__img
			img(src="../../img/hipster6.png")




.work-block
	.content-block__header-fir What we do
	.content-block__header-sec some of our work 
	.content-block__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

	.work-block__pics
		.work-block__colomn
			img(src="../../img/work2.png").work-block__picture
			img(src="../../img/work2.png").work-block__picture
		.work-block__colomn
			img(src="../../img/work2.png").work-block__picture
			img(src="../../img/work2.png").work-block__picture
		.work-block__colomn
			img(src="../../img/work5.png").work-block__picture
		.work-block__colomn
			img(src="../../img/work2.png").work-block__picture
			img(src="../../img/work2.png").work-block__picture
			


.wrapper
		.slider.slider__second
			.slider__item.owl-item
				.slider__image
					img(src="../../img/slider-pic.png")
				.slider__text-block
					.slider__text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
					.slider__author John Doe
			.slider__item.owl-item
				.slider__image
					img(src="../../img/slider-pic.png")
				.slider__text-block
					.slider__text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
					.slider__author John Doe



.clients-block
	.wrapper
		.content-block__header-fir Happy Clients
		.content-block__header-sec What people say
		.clients-block__comments
			.clients-block__comment
				.clients-block__img
					img(src="../../img/client.png")
				.clients-block__description
					.clients-block__author Matthew Dix 
					.clients-block__post Graphic design
					.clients-block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
			.clients-block__comment
				.clients-block__img
					img(src="../../img/client.png")
				.clients-block__description
					.clients-block__author Matthew Dix 
					.clients-block__post Graphic design
					.clients-block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
			.clients-block__comment
				.clients-block__img
					img(src="../../img/client.png")
				.clients-block__description
					.clients-block__author Matthew Dix 
					.clients-block__post Graphic design
					.clients-block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
			.clients-block__comment
				.clients-block__img
					img(src="../../img/client.png")
				.clients-block__description
					.clients-block__author Matthew Dix 
					.clients-block__post Graphic design
					.clients-block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.


.stories-block
	.wrapper
		.content-block__header-fir Our stories
		.content-block__header-sec Lateast Blog 
		.stories-block__pics
			a(href="#").stories-block__picture.stories-picture
				.stories-picture__container
					img(src="../../img/stories1.png")
					.stories-picture__date
						span.stories-picture__date-day 14 <br>
						span.stories-picture__date-month jan
				.stories-picture__header sed do eiusmod tempor
				.stories-picture__desc Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				object
					.stories-picture__buttons
						a(href="#")
							svg.stories-picture__view
								use(xlink:href="#view")
							span.stories-picture__buttons-num 123
						a(href="#")
							svg.stories-picture__comments
								use(xlink:href="#speech-bubble-2")
						span.stories-picture__buttons-num 123
			a(href="#").stories-block__picture.stories-picture
				.stories-picture__container
					img(src="../../img/stories1.png")
					.stories-picture__date
						span.stories-picture__date-day 14 <br>
						span.stories-picture__date-month jan
				.stories-picture__header sed do eiusmod tempor
				.stories-picture__desc Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				object
					.stories-picture__buttons
						a(href="#")
							svg.stories-picture__view
								use(xlink:href="#view")
							span.stories-picture__buttons-num 123
						a(href="#")
							svg.stories-picture__comments
								use(xlink:href="#speech-bubble-2")
						span.stories-picture__buttons-num 123
			a(href="#").stories-block__picture.stories-picture
				.stories-picture__container
					img(src="../../img/stories1.png")
					.stories-picture__date
						span.stories-picture__date-day 14 <br>
						span.stories-picture__date-month jan
				.stories-picture__header sed do eiusmod tempor
				.stories-picture__desc Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				object
					.stories-picture__buttons
						a(href="#")
							svg.stories-picture__view
								use(xlink:href="#view")
							span.stories-picture__buttons-num 123
						a(href="#")
							svg.stories-picture__comments
								use(xlink:href="#speech-bubble-2")
						span.stories-picture__buttons-num 12

.map
	a(href="#").map__label
		svg.map__svg
			use(xlink:href="#map")
		.map__text open map


