.about-us
	.wrapper
		.content-block__header-fir What we do
		.content-block__header-sec story about us
		.about-us__description
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		.about-us__pictures
			.about-us__picture-container.about-feature
				.about-feature__self-container
					img.about-feature__picture(src="../../img/about-us1.png")
					span.about-feature__text-block
						svg.about-feature__svg
							use(xlink:href="#users")
						span.about-feature__text
							|super team

			.about-us__picture-container.about-feature
				.about-feature__self-container
					img.about-feature__picture(src="../../img/about-us2.png")
					span.about-feature__text-block
						svg.about-feature__svg
							use(xlink:href="#users")
						span.about-feature__text
							|super team

			.about-us__picture-container.about-feature
				.about-feature__self-container
					img.about-feature__picture(src="../../img/about-us3.png")
					span.about-feature__text-block
						svg.about-feature__svg
							use(xlink:href="#users")
						span.about-feature__text
							|super team

.control-numbers
	.wrapper
			.control-numbers__item
				.control-numbers__text-block
					.control-numbers__number 42
					.control-numbers__text Web Design Projects
			.control-numbers__item
				.control-numbers__text-block
					.control-numbers__number 123
					.control-numbers__text happy client
			.control-numbers__item
				.control-numbers__text-block
					.control-numbers__number 15
					.control-numbers__text award winner
			.control-numbers__item
				.control-numbers__text-block
					.control-numbers__number 99
					.control-numbers__text cup of coffee
			.control-numbers__item
				.control-numbers__text-block
					.control-numbers__number 24
					.control-numbers__text members




.services
	.wrapper
		.content-block__header-fir We work with
		.content-block__header-sec Amazing Services
		.services__list

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#alarm")
					.services__text
						.services__header Photography
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#line-graph")
					.services__text
						.services__header Web Design
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#computer---ok")
					.services__text
						.services__header Creativity
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#book-2")
					.services__text
						.services__header seo
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#home")
					.services__text
						.services__header Css/Html
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#image")
					.services__text
						.services__header digital
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.




.design-block
	.wrapper
		.content-block__header-fir For all devices
		.content-block__header-sec Unique design


.service-what
	.wrapper
		.content-block__header-fir Service
		.content-block__header-sec what we do
		.service-what__description
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		.service-what__image
			img(src="../../img/service.png")

		.service-menu.service-what__menu
			.service-menu__item
				.service-menu__label
					svg.service-menu__svg
						use(xlink:href="#home")
					.service-menu__header Photography
					svg.service-menu__arrow
						use(xlink:href="#arrow")
				.service-menu__hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			.service-menu__item
				.service-menu__label
					svg.service-menu__svg
						use(xlink:href="#equalizer")
					.service-menu__header creativity
					svg.service-menu__arrow
						use(xlink:href="#arrow")
				.service-menu__hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			.service-menu__item
				.service-menu__label
					svg.service-menu__svg
						use(xlink:href="#bullseye")
					.service-menu__header web design
					svg.service-menu__arrow
						use(xlink:href="#arrow")
				.service-menu__hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.




.slider-container
	.wrapper
		.slider
			.slider__item.owl-item
				.slider__image
					svg
						use(xlink:href="#speech")
				.slider__text-block
					.slider__text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
					.slider__author John Doe





.team-block
	.wrapper
		.content-block__header-fir Who we are
		.content-block__header-sec Meet our team
