.about-us{
	padding-top: 90px;
	&__pictures{
		margin-top: 97px;
	}
	&__picture-container{
		background-color: $blue-color;
		margin-left: 30px;
		display: inline-block;
		font-size: 0;
		position: relative;
		&:first-child{
			margin-left: 0;
		}
	}
	

}

.about-feature{
	width: 380px;
	height: 250px;
	cursor: pointer;

	&:hover{
		.about-feature__self-container{
			transform: translate(-10px, -10px);
		}
		.about-feature__text-block{
			opacity: 1;
		}
		.about-feature__picture{
			opacity: 0.2;
		}

	}

	&__picture{
		left: 0px;
		top: 0px;
		z-index: 1;
		transition: 0.3s;

	}

	&__text{
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 700;
		display: block;
		color: #fff;
	}

	&__text-block{
		position: absolute;
		transition: 0.3s;
		z-index: 2;
		text-align: center;
		vertical-align: middle;
		opacity: 0;
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	}

	&__svg{
		width: 32px;
		height: 23px;
	}
	&__svg use{
		fill: #fff;
	}

	&__self-container{
		width: 100%;
		height: 100%;
		position: relative;
		transition: 0.3s;
		background: linear-gradient(to bottom, rgba(244,139,131, 1) 0%,rgba(252,227,138, 1) 100%);
	}


}