.design-block{
	padding-top: 110px;
	height: 910px;
  background: 
	    url(../../img/mobile-xs.png) no-repeat 69% 107%,
	    url(../../img/mobile-sm.png) no-repeat 47% 82%,
	    linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%),
	    url(../../img/design.png) no-repeat;


}