.about-us
	.wrapper
		.content-block__header-fir What we do
		.content-block__header-sec story about us
		.content-block__description
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		.about-us__pictures
			.about-us__picture-container.about-feature
				.about-feature__self-container
					img.about-feature__picture(src="../../img/about-us1.png")
					span.about-feature__text-block
						svg.about-feature__svg
							use(xlink:href="#users")
						span.about-feature__text
							|super team

			.about-us__picture-container.about-feature
				.about-feature__self-container
					img.about-feature__picture(src="../../img/about-us2.png")
					span.about-feature__text-block
						svg.about-feature__svg
							use(xlink:href="#users")
						span.about-feature__text
							|super team

			.about-us__picture-container.about-feature
				.about-feature__self-container
					img.about-feature__picture(src="../../img/about-us3.png")
					span.about-feature__text-block
						svg.about-feature__svg
							use(xlink:href="#users")
						span.about-feature__text
							|super team
