.clients-block
	.wrapper
		.content-block__header-fir Happy Clients
		.content-block__header-sec What people say
		.clients-block__comments
			.clients-block__comment
				.clients-block__img
					img(src="../../img/client.png")
				.clients-block__description
					.clients-block__author Matthew Dix 
					.clients-block__post Graphic design
					.clients-block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
			.clients-block__comment
				.clients-block__img
					img(src="../../img/client2.png")
				.clients-block__description
					.clients-block__author Jaelynn Castillo  
					.clients-block__post Graphic design
					.clients-block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
			.clients-block__comment
				.clients-block__img
					img(src="../../img/client3.png")
				.clients-block__description
					.clients-block__author MaNick Karvounis
					.clients-block__post Graphic design
					.clients-block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
			.clients-block__comment
				.clients-block__img
					img(src="../../img/client4.png")
				.clients-block__description
					.clients-block__author Matthew Dix 
					.clients-block__post Graphic design
					.clients-block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.