.control-numbers
	.wrapper
			.control-numbers__item
				.control-numbers__text-block
					.control-numbers__number 42
					.control-numbers__text Web Design Projects
			.control-numbers__item
				.control-numbers__text-block
					.control-numbers__number 123
					.control-numbers__text happy client
			.control-numbers__item
				.control-numbers__text-block
					.control-numbers__number 15
					.control-numbers__text award winner
			.control-numbers__item
				.control-numbers__text-block
					.control-numbers__number 99
					.control-numbers__text cup of coffee
			.control-numbers__item
				.control-numbers__text-block
					.control-numbers__number 24
					.control-numbers__text members