
footer.footer
	.wrapper
		.footer__subscribe.subscribe-block
			.subscribe-block__logo 
				a(href="#") MoGo
			.subscribe-block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.subscribe-block__folowers
				.subscribe-block__folowers-num 15k
				span folowers
			.subscribe-block__networks
				span folow us:
				a(href="#")
					svg.subscribe-block__facebook
						use(xlink:href="#facebook")
				a(href="#")
					svg.subscribe-block__twitter
						use(xlink:href="#twitter")
				a(href="#")
					svg.subscribe-block__instagram
						use(xlink:href="#instagram")
				a(href="#")
					svg.subscribe-block__pinterest
						use(xlink:href="#pinterest")
				a(href="#")
					svg.subscribe-block__google
						use(xlink:href="#google-plus")
				a(href="#")
					svg.subscribe-block__youtube
						use(xlink:href="#youtube")
				a(href="#")
					svg.subscribe-block__dribbble
						use(xlink:href="#dribbble")
				a(href="#")
					svg.subscribe-block__tumblr
						use(xlink:href="#tumblr")
			.subscribe-block__email
				input(id="email-field" placeholder="Your Email..." class="subscribe-block__email-field")
				input(type="submit" value="suscribe" class="subscribe-block__email-button") 


		.footer__blogs.blogs-block
			.blogs-block__header Blogs
			a(href="#").blogs-block__item
				.blogs-block__img
					img(src="../../img/blogs.png")
				.blogs-block__desc Lorem ipsum dolor sit amet, consectetur adipiscing
				.blogs-block__date Jan 9, 2016
			a(href="#").blogs-block__item
				.blogs-block__img
					img(src="../../img/blogs2.png")
				.blogs-block__desc Lorem ipsum dolor sit amet, consectetur adipiscing
				.blogs-block__date Jan 9, 2016
			a(href="#").blogs-block__item
				.blogs-block__img
					img(src="../../img/blogs3.png")
				.blogs-block__desc Lorem ipsum dolor sit amet, consectetur adipiscing
				.blogs-block__date Jan 9, 2016


		.footer__instagram.instagram-block
			.instagram-block__header instagram
			.instagram-block__photos
				a(href="#").instagram-block__photo
					img(src="../../img/insta.png")
				a(href="#").instagram-block__photo
					img(src="../../img/insta2.png")
				a(href="#").instagram-block__photo
					img(src="../../img/insta3.png")
				a(href="#").instagram-block__photo
					img(src="../../img/insta4.png")
				a(href="#").instagram-block__photo
					img(src="../../img/insta5.png")
				a(href="#").instagram-block__photo
					img(src="../../img/insta6.png")
				a(href="#").instagram-block__photo
					img(src="../../img/insta7.png")
				a(href="#").instagram-block__photo
					img(src="../../img/insta8.png")
				a(href="#").instagram-block__photo
					img(src="../../img/insta9.png")


			a(href="#").instagram-block__view-more View more photos