header.header
  .wrapper
    .header__container
      a(href="#").header__logo MoGo
      .header__nav-icon
      .header__nav
        a(href="#").header__nav-item About
        a(href="#").header__nav-item Service
        a(href="#").header__nav-item Work
        a(href="#").header__nav-item blog
        a(href="#").header__nav-item contact
        a(href="#").header__nav-basket
          svg
            use(xlink:href="#cart")
        a(href="#").header__nav-search
          svg
            use(xlink:href="#search")
    .header__label
      .header__label-creative Creative Template
      .header__label-welcome Welcome<br>to MoGo
    .header__button learn more
