.service-what
	.wrapper
		.content-block__header-fir Service
		.content-block__header-sec what we do
		.content-block__description.service-what__desc
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		.service-what__image
			img(src="../../img/service.png")

		.service-menu.service-what__menu
			.service-menu__item
				.service-menu__label
					svg.service-menu__svg
						use(xlink:href="#picture")
					.service-menu__header Photography
					svg.service-menu__arrow
						use(xlink:href="#arrow")
				.service-menu__hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			.service-menu__item
				.service-menu__label
					svg.service-menu__svg
						use(xlink:href="#equalizer")
					.service-menu__header creativity
					svg.service-menu__arrow
						use(xlink:href="#arrow")
				.service-menu__hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			.service-menu__item
				.service-menu__label
					svg.service-menu__svg
						use(xlink:href="#bullseye")
					.service-menu__header web design
					svg.service-menu__arrow
						use(xlink:href="#arrow")
				.service-menu__hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.