.services
	.wrapper
		.content-block__header-fir We work with
		.content-block__header-sec Amazing Services
		.services__list

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#alarm")
					.services__text
						.services__header Photography
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#line-graph")
					.services__text
						.services__header Web Design
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#computer---ok")
					.services__text
						.services__header Creativity
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#book-2")
					.services__text
						.services__header seo
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#home")
					.services__text
						.services__header Css/Html
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

			a(href="#").services__item
					.services__img
						svg
							use(xlink:href="#image")
					.services__text
						.services__header digital
						.services__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.