
.wrapper
		.slider.slider__second
			.slider__item.owl-item
				.slider__image
					img(src="../../img/slider-pic.png")
				.slider__text-block
					.slider__text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
					.slider__author Joshua Earle
			.slider__item.owl-item
				.slider__image
					img(src="../../img/slider-pic.png")
				.slider__text-block
					.slider__text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
					.slider__author John Doe
