.slider-container
	.wrapper
		.slider.slider__first
			.slider__item.owl-item
				.slider__image.slider__image_border
					svg
						use(xlink:href="#speech")
				.slider__text-block
					.slider__text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
					.slider__author Jon Doe
			.slider__item.owl-item
				.slider__image.slider__image_border
					svg
						use(xlink:href="#picture")
				.slider__text-block
					.slider__text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
					.slider__author Jon Doe