.team-block
	.wrapper
		.content-block__header-fir Who we are
		.content-block__header-sec Meet our team
		.content-block__description
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

		.team-block__pics
			.team-block__picture-container
				.team-block__picture
					.team-block__picture-background
						img(src="../../img/team1.png")
					.team-block__networks
						a(href="#").team-block__facebook.team-block__networks-item
							svg
								use(xlink:href="#facebook").team-block__use
						a(href="#").team-block__twitter.team-block__networks-item
							svg
								use(xlink:href="#twitter").team-block__use
						a(href="#").team-block__pinterest.team-block__networks-item
							svg
								use(xlink:href="#pinterest").team-block__use
						a(href="#").team-block__pinterest.team-block__networks-item
							svg
								use(xlink:href="#instagram").team-block__use

				.team-block__picture-desc
					.team-block__picture-desc-name Matthew Dix
					.team-block__picture-desc-post Graphic Design
			.team-block__picture-container
				.team-block__picture
					.team-block__picture-background
						img(src="../../img/team2.png")
					.team-block__networks
						a(href="#").team-block__facebook.team-block__networks-item
							svg
								use(xlink:href="#facebook").team-block__use
						a(href="#").team-block__twitter.team-block__networks-item
							svg
								use(xlink:href="#twitter").team-block__use
						a(href="#").team-block__pinterest.team-block__networks-item
							svg
								use(xlink:href="#pinterest").team-block__use
						a(href="#").team-block__pinterest.team-block__networks-item
							svg
								use(xlink:href="#instagram").team-block__use

				.team-block__picture-desc
					.team-block__picture-desc-name Christopher Campbell
					.team-block__picture-desc-post Branding/UX design
			.team-block__picture-container
				.team-block__picture
					.team-block__picture-background
						img(src="../../img/team3.png")
					.team-block__networks
						a(href="#").team-block__facebook.team-block__networks-item
							svg
								use(xlink:href="#facebook").team-block__use
						a(href="#").team-block__twitter.team-block__networks-item
							svg
								use(xlink:href="#twitter").team-block__use
						a(href="#").team-block__pinterest.team-block__networks-item
							svg
								use(xlink:href="#pinterest").team-block__use
						a(href="#").team-block__pinterest.team-block__networks-item
							svg
								use(xlink:href="#instagram").team-block__use

				.team-block__picture-desc
					.team-block__picture-desc-name Michael Fertig 
					.team-block__picture-desc-post Michael Fertig 