.work-block
	.content-block__header-fir What we do
	.content-block__header-sec some of our work 
	.content-block__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

	.work-block__pics
		.work-block__colomn
			img(src="../../img/work1.png").work-block__picture
			img(src="../../img/work2.png").work-block__picture
		.work-block__colomn
			img(src="../../img/work3.png").work-block__picture
			img(src="../../img/work4.png").work-block__picture
		.work-block__colomn
			img(src="../../img/work5.png").work-block__picture
		.work-block__colomn
			img(src="../../img/work6.png").work-block__picture
			img(src="../../img/work7.png").work-block__picture