
@import 'includes/owl-carousel/owl.carousel';
@import 'includes/owl-carousel/owl.theme.default';

@import 'variables';


.wrapper{
	width: 1210px;
	margin: 0 auto;
}




.owl-prev svg{
	width: 21px;
	height: 12px;
	transform: rotate(270deg);
	position: absolute;
	left: 0;

}


.owl-next svg{
	width: 21px;
	height: 12px;
	transform: rotate(90deg);
	right: 0;
	position: absolute;

}

.slider{
	width: 100%;
	position: relative;
	padding: 70px 0 70px;
	font-size: 0;
	&__image svg{
		width: 60px;
		height: 60px;

		
	}
	&__image{
		display: inline-block;
		border: 3px solid #95e1d3;
		padding: 40px;
		vertical-align: middle;

	}
	&__text{
		width: 767px;
		color: $grey-color;
		font-family: $roboto;
		font-size: 20px;
		font-weight: 300;
		font-style: italic;
		line-height: 32px;
		margin-left: 61px;
	}
	&__text-block{
		display: inline-block;
		vertical-align: middle;
	}
	&__author{
		
		color: $dark-font-color;
		font-family: $kaushan;
		font-size: 20px;
		font-weight: 400;
		position: relative;
		margin-left: 61px;
		margin-top: 23px;
		padding-left: 69px;
		&:before{
			content: "";
			background-color: $red-color;
			width: 60px;
			height: 3px;
			position: absolute;
			left: 0;
			bottom: 9px;
		}
	}
}
.slider-container{
	background-color: #f8f8f8;
}

.visible-menu{
	display: block !important;
}


